.footer {
  background-color: $vd-bblue;
  border-top-right-radius: toRem(100);
  width: 100%;

  &__header {
    display: flex;
    justify-content: center;

    &Logo {
      margin-top: toRem(70);
    }
  }

  &__menuArea {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $overpass;
    font-weight: 300;
    margin-top: toRem(60);
    gap: toRem(60);
    padding-bottom: toRem(50);

    &Group {
      display: flex;
      flex-direction: column;
      gap: toRem(10);

      &Link {
        text-decoration: none;
        color: $gblue;

        &:hover {
          text-decoration: underline;
        }
      }

      &Header {
        font-weight: 600;
        margin-bottom: toRem(15);
        font-size: toRem(20);
        color: white;
      }

      &Item {
        font-weight: 300;
        font-size: toRem(18);
      }
    }
  }
}

@media (min-width: $break-desktop) {
  .footer {
    display: flex;
    justify-content: space-evenly;

    &__header {
      display: block;

      &Logo {
        margin-top: toRem(52);
      }
    }
  }

  .footer__menuArea {
    flex-direction: row;
    text-align: left;
    gap: toRem(100);
    margin-right: toRem(80);

    &GroupHeader {
      font-size: toRem(15);
    }
    
    &GroupItem {
      font-size: toRem(13);
    }
  }
}