//Breakpoints
$break-mobile: 375px;
$break-desktop: 900px;

//Colors
$l-red: hsl(356, 100%, 66%);
$vl-red: hsl(355, 100%, 74%);
$vd-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$gblue: hsl(240, 3%, 79%);
$vd-gblue: hsl(207, 13%, 34%);
$vd-bblue: hsl(240, 10%, 16%);


//Gradients
$vl-redgrad: hsl(13, 100%, 72%);
$lred-grad: hsl(353, 100%, 62%);
$vd-gbluegrad: hsl(237, 17%, 21%);
$vd-dbluegrad: hsl(237, 23%, 32%);


//Fonts
$ubuntu: 'Ubuntu';
$overpass: 'Overpass';